:root{
    --Morado:  #8a00ca;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    /*convercion para web*/
    font-size: 62.5%;
    font-family: Krub, Herlvertica, sans-serif;
    /*para modelo de caja*/
    box-sizing: border-box

    }

    *,*::before, *::after{
        /*para modelo de caja*/
        box-sizing: inherit;
    }
    /*tipografia*/
    h1{
        font-size: .8rem;
    }
    h2{
        font-size: 2.8rem;
    }
    h3{
        font-size: 1.8rem;
    }
    h1,h2,h3{
        text-align: center;
    }


    body{
        /*px es el estandar para navegadores*/
        font-size: 16px;
    }
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
/*.navegacion-principal{
    background-color: var(--secundario);
}*/
.contenedor{
    
    max-width: 120rem;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal a{
    background-color: var(--secundario);
    color: var(--blanco);
    /*quitar subbrayado*/
    text-decoration: none;
    padding: 1rem;
}
.navegacion-principal {
    /*padding: 1 rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justifi-content para filas y align-items para columnas*/
    /*justify-content: space-between;*/
    font-size: 2rem;
    font-weight: bold;
} 
/*si al menos tine 768px*/
@media (min-width:768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a:hover{
    background-color: var(--Morado);
    color:var(--oscuro);
}
.hero{
    background-image: url( ../img/hero.jpg);
    /*es la direccion de la imagen de fondo*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 450px;/*altura del elemento*/
    position: relative; /*par amanipular la posicion, el padre simepre debe de ser relative*/
    
}
.contenido-hero{
    /*para manipuilar la pisicion, el hijo siempre debe de ser absolute*/
    position: absolute;
    background-color: rgba(0,0,0,.7);/*70%*/
    width: 100%;
    height: 100%;
    /*alinear h y v*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco)
}
.ubicacion{
    display: flex;
    align-items: flex-end;

}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    /**/
    padding: 1rem 3rem;
    /*poner margen arriba*/
    margin-top: 3rem;
    /*tamaño de letra*/
    font-size: 2rem;
    /*quitar subbrayado*/
    text-decoration: none;
    /*mayusculas*/
    text-transform: uppercase;
    /*negritas*/
    font-weight: bold;
    /*borde redondeado*/
    border-radius: .5rem;
    /* ancho del boton*/
    width: 10%;
    /*alinear texto del boton */
    text-align: center;
}
@media (min-width:768px){
    .boton{
        width: auto;
    }

}


/*cover cubre la imagen con todo el tamaño posible*/
/*apartir de aqui se puede editar el recuadro de contactos*/
.formulario{
    width: min(60rem, 90%);
    margin: 5rem auto 0 auto;
    background-color: #757575;
    padding: 2rem;
    line-height: 2;
    border-radius: 17%;
}
.formulario fieldset{
    border: none;
}
legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 2rem;
    color: white;
}
label{
    display: block;
    width: 90%;
    color: white;
    text-align: center;
}
input:not([type="submit"]),/*impide que se seleccione el boton */
textarea,
select{/*es para seleccinar los input en los labels*/
    padding: 1rem;
    display:flex;
    width: 90%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="submit"]{/*Modificacion de boton*/
    margin: 0 auto;
    display: block;
    background-color: #8a00ca;
    width: 80%;
    border: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 1rem;
    cursor: pointer;
}
